.postrequest-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .postrequest-box {
    text-align: center;
    padding: 16px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;  /* 將box水平置中 */
  }
